
h1{
    font-family:Bebas Neue;
    font-weight: 100;
    
}
p{
    font-family:Encode Sans;
    font-size: 10px;
}
li{
    font-family:Julius Sans One;
    color:white;
}
.navbar-brand{
    font-family:Bebas Neue;
    color:white;
}
.border-bottom {
    border-bottom: 5px solid #eeeeee !important;
    padding: 10px;
    
}
/*
=================================================
HERO SECTION
=================================================
*/
.hero-section {
    background-color:white;
    background-image: url("img/GBSFlagRegionalGame-75.png");
    background-position: center;
    background-size:cover;
    padding:50px;
    color:ghostwhite;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.6);
}
p{
    font-size: 10px;
    
}
/*
=================================================
ABOUT SECTION
=================================================
*/
.row{
    color:black;
}
p{
    font-size: 15px;
    padding: 5px;
}
/*
=================================================
IMPACT SECTION
=================================================
*/
img{
    border-radius: 10%;
    height:auto;
    width:100%;
}

/*
=================================================
VIDEO SECTION
=================================================
*/
.video h1{
    font-size:50px;
    padding-right:80%;
}
.video p {
    text-align:left;
}
.video iframe{
    float:right;
}
/*
=================================================
HERO SECTION
=================================================
*/
.nav-item{
    color:#27437A;
}
/*
=================================================
LEARNING SECTION
=================================================
*/
.learning h1{
    padding-left:67%;
}
.learning p{
 text-align:right;
}
.learning iframe{
    padding-bottom: 20px;
}
