body{
   
}
h1{
    font-family:Bebas Neue;
    font-weight: 100;
}
p{
    font-family:Julius Sans One;
    font-size: 10px;
}
li{
    font-family:Julius Sans One;
}
.navbar-brand{
    font-family:Bebas Neue;
}