
h1{
    font-family:Bebas Neue;
    font-weight: 100;
    
}
p{
    font-family:Julius Sans One;
    font-size: 10px;
}
li{
    font-family:Julius Sans One;
    color:white;
}
.navbar-brand{
    font-family:Bebas Neue;
    color:white;
}
/*
=================================================
HERO SECTION
=================================================
*/
.hero-section {
    background-color:white;
    background-image: url("img/Flagfootballtitans.jpg");
    background-position: center;
    background-size:cover;
    padding:50px;
    color:ghostwhite;
}
p{
    font-size: 10px;
}
/*
=================================================
ABOUT SECTION
=================================================
*/
.row{
    color:black;
}
p{
    font-size: 15px;
    padding: 5px;
}
/*
=================================================
IMPACT SECTION
=================================================
*/


p{
}
/*
=================================================
VIDEO SECTION
=================================================
*/